body {
  background-image: url("http://smhttp.34344.nexcesscdn.net/80100D2/magento/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/j/l/jl1290m_marvel_classics_comic_panel_mural_product.jpg");
  background-size: 100%; }

.marvelLogo {
  height: 167px;
  margin-top: 44px;
  border: 8px solid #2e2e2e;
  padding: 10px; }

.contactTitleContain {
  border: 10px solid #2e2e2e;
  background-color: #ED1A23;
  opacity: 0.96;
  margin-top: 50px;
  margin-bottom: 20px; }

h2.contactTitle {
  font-size: 65px;
  text-align: center;
  font-family: "Monofett", cursive;
  color: #2e2e2e;
  padding-top: 0;
  margin: 0; }

.contactContainer.left {
  border: 14px solid #2e2e2e;
  background-color: #0572B9;
  opacity: 0.96;
  padding-left: 10px; }

.contactContainer.right {
  border: 14px solid #2e2e2e;
  background-color: #0572B9;
  opacity: 0.96; }

i {
  color: #F3C74E;
  text-align: center;
  margin: 10px; }

i.markerIcon {
  display: block;
  font-size: 50px; }

i.cellIcon {
  display: block;
  font-size: 60px; }

i.envelopeIcon {
  display: block;
  font-size: 50px; }

.fa p {
  font-family: "Bangers", cursive;
  font-size: 30px;
  color: #2e2e2e;
  text-align: center; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-bottom: 20px; }

h3.mapTitle {
  font-family: "Bangers", cursive;
  color: #2e2e2e;
  font-size: 30px;
  text-align: center; }

.comic {
  height: 460px; }

.card {
  color: #2e2e2e;
  background-color: #F3C74E;
  border: 2px solid #2e2e2e;
  z-index: 9999;
  position: absolute;
  text-align: center; }
  .card p {
    font-size: 18px;
    margin: 7px;
    font-family: "Boogaloo", cursive; }

span {
  display: inline; }

.card {
  color: #2e2e2e;
  background-color: #F3C74E;
  border: 2px solid #2e2e2e;
  z-index: 9999;
  position: absolute;
  text-align: center; }
  .card p {
    font-size: 18px;
    margin: 7px;
    font-family: "Boogaloo", cursive; }

h3 {
  font-family: "Bangers", cursive;
  font-size: 25px;
  color: #2e2e2e;
  text-align: center;
  margin-top: 20px; }

.btn {
  font-family: "Bangers", cursive;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  border: 2px solid #2e2e2e;
  font-size: 20px;
  color: #2e2e2e;
  background-color: #F3C74E; }
  .btn:hover {
    border: 2px solid #F3C74E;
    font-size: 20px;
    color: #F3C74E;
    background-color: #2e2e2e; }

.characters.secondLeft {
  height: 437px; }

.header {
  height: 170px;
  border: 4px solid black;
  background-color: #F3C74E;
  background-size: cover;
  background-position: center;
  position: relative; }

.leftLogo {
  padding-top: 10px; }

.hideBanner {
  font-family: "Monofett", cursive;
  font-size: 44px;
  border-top: 2px solid #ED1A23;
  border-bottom: 2px solid #ED1A23;
  margin-left: 10px;
  vertical-align: middle; }

.rightNav {
  padding-right: 0; }
  .rightNav ul.navMenu {
    margin: 0 auto;
    display: block;
    padding-top: 120px;
    padding-left: 110px; }
    .rightNav ul.navMenu li.navList {
      display: inline-block;
      text-align: center;
      list-style: none; }
      .rightNav ul.navMenu li.navList a {
        color: #2e2e2e;
        font-size: 24px;
        text-decoration: none;
        font-family: "Bangers", cursive;
        border: 2px solid #ED1A23;
        padding: 5px; }
        .rightNav ul.navMenu li.navList a:hover {
          background-color: #ED1A23;
          border: 2px solid #2e2e2e;
          color: #F3C74E; }

.textContainer {
  margin-top: 50px;
  background-color: #0572B9;
  vertical-align: center;
  opacity: 0.96;
  border: 10px solid #2e2e2e;
  padding: 20px; }

.three {
  text-align: center;
  font-family: "Monofett", cursive;
  font-size: 65px;
  margin-top: 20px;
  margin-bottom: 40px; }

.feature {
  height: 400px; }

.box.topLeft, .topMiddle, .topRight, .bottomLeft, .bottomMiddle, .bottomRight {
  border: 6px solid #F3C74E;
  height: 300px;
  width: 275px;
  display: block;
  margin: 0 auto; }

.column {
  border: 6px solid #F3C74E;
  height: 300px;
  width: 275px;
  display: block;
  margin: 0 auto; }

img.characterImage {
  width: 100%;
  height: 288px; }

img.comicImage {
  width: 100%;
  height: 288px; }

.bottomNav {
  height: 60px;
  background-color: #ED1A23;
  margin-top: 80px;
  border: 4px solid #2e2e2e; }
  .bottomNav ul.navMenuBottom {
    margin: 0 auto;
    display: block;
    margin-left: 356px;
    padding-top: 6px; }
    .bottomNav ul.navMenuBottom li.navListBottom {
      display: inline-block;
      text-align: center;
      list-style: none; }
      .bottomNav ul.navMenuBottom li.navListBottom a.bottom {
        color: #2e2e2e;
        font-size: 18px;
        text-decoration: none;
        font-family: "Bangers", cursive;
        border: 2px solid #F3C74E;
        padding: 5px;
        margin: 0 auto;
        display: block; }
        .bottomNav ul.navMenuBottom li.navListBottom a.bottom:hover {
          background-color: #F3C74E;
          border: 2px solid #2e2e2e;
          color: #ED1A23; }

@media screen and (max-width: 1199px) {
  .hideBanner {
    display: none; } }
