.comic {
	height:460px;
}

.card {
	color:lighten($marvel-black,5);
	background-color:$marvel-yellow;
	border:2px solid lighten($marvel-black,5);
	z-index:9999;
	position:absolute;
	text-align:center;

	p {
		font-size: 18px;
		margin:7px;
		font-family:$third-font;
	}

}