.contactTitleContain {	
	border:$border-content;
	background-color:$marvel-red;
	opacity:0.96;
	margin-top:50px;
	margin-bottom:20px;
}

h2.contactTitle {
	font-size:65px;
	text-align:center;
	font-family:$accent-font;
	color:lighten($marvel-black,5);
	padding-top:0;
	margin:0;

}


.contactContainer.left {	
	border:14px solid lighten($marvel-black,5);
	background-color:$marvel-blue;
	opacity:0.96;
	padding-left:10px;
}

.contactContainer.right {
	border:14px solid lighten($marvel-black,5);
	background-color:$marvel-blue;
	opacity:0.96;
	
}


i {
	color:$marvel-yellow;
	text-align:center;
	margin:10px;

}

i.markerIcon {
	display:block;
	font-size:50px;
	
}

i.cellIcon {
	display:block;
	font-size:60px;
	
}

i.envelopeIcon {
	display:block;
	font-size:50px;
	
}

p {
	font-family:$nav-font;
	font-size:30px;
	color:lighten($marvel-black,5);
	text-align:center;
}

 #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        margin-bottom:20px;
      }

h3.mapTitle {
	font-family:$nav-font;
	color:lighten($marvel-black,5);
	font-size:30px;
	text-align:center;
} 

    
