$marvel-yellow:#F3C74E;
$accent-font:'Monofett', cursive;
$marvel-red:#ED1A23;
$marvel-black:#212121;
$nav-font:'Bangers', cursive;

@import 'images';

.header {
	height:170px;
	border: 4px solid black;
	background-color:$marvel-yellow;
	background-size:cover;	
}

.leftLogo {
	 padding-top: 10px
}

.hideBanner {
	font-family:$accent-font;
	font-size:44px;
	border-top:2px solid $marvel-red;
	border-bottom:2px solid $marvel-red;
	margin-left:10px;
	vertical-align:middle;
}

.rightNav {
	padding-right:0;

		ul.navMenu {
			margin:0 auto;
			display:block;
			padding-top: 120px;
			padding-left:110px;			
			
			li.navList {
				display:inline-block;
				text-align: center;
				list-style:none;

				a {
					color: lighten($marvel-black,5);
					font-size:24px;
					text-decoration: none;
					font-family:$nav-font;
					border: 2px solid $marvel-red;
					padding:5px;

				}
				
			}

		}
}