$marvel-yellow:#F3C74E;
$accent-font:'Monofett', cursive;
$marvel-red:#ED1A23;
$marvel-black:#212121;
$nav-font:'Bangers', cursive;
$marvel-blue:#0572B9;
$border-content:10px solid lighten($marvel-black,5);
$border-nav:8px solid lighten($marvel-black,5);
$title-font:'Iceland', cursive;

@import 'images';
@import 'contact';
@import 'comics';
@import 'characters';

.header {
	height:170px;
	border: 4px solid black;
	background-color:$marvel-yellow;
	background-size:cover;
	background-position:center;
	position:relative;	
}

.leftLogo {
	 padding-top: 10px
}

.hideBanner {
	font-family:$accent-font;
	font-size:44px;
	border-top:2px solid $marvel-red;
	border-bottom:2px solid $marvel-red;
	margin-left:10px;
	vertical-align:middle;
}

.rightNav {
	padding-right:0;

		ul.navMenu {
			margin:0 auto;
			display:block;
			padding-top: 120px;
			padding-left:110px;			
			
			li.navList {
				display:inline-block;
				text-align: center;
				list-style:none;

				a {
					color: lighten($marvel-black,5);
					font-size:24px;
					text-decoration: none;
					font-family:$nav-font;
					border: 2px solid $marvel-red;
					padding:5px;

					&:hover {
						background-color:$marvel-red;
						border:2px solid lighten($marvel-black,5);
						color:$marvel-yellow;
					}

				}
				
			}

		}
}

.textContainer {
	margin-top:50px;
	background-color:$marvel-blue;
	vertical-align:center;
	opacity:0.96;
	border: $border-content;
	padding:20px;

}

.three {
	text-align:center;
	font-family:$accent-font;
	font-size:65px;
	margin-top:20px;
	margin-bottom:40px;
}	

.feature {
	height:400px;
}

.box.topLeft, .topMiddle, .topRight, .bottomLeft, .bottomMiddle, .bottomRight {
	border:6px solid $marvel-yellow;
	height:300px;
	width:275px;
	display:block;
	margin:0 auto;
}

.column {
	border:6px solid $marvel-yellow;
	height:300px;
	width:275px;
	display:block;
	margin:0 auto;
}

img.characterImage {
	width:100%;
	height:288px;
} 

img.comicImage {
	width:100%;
	height:288px;
} 

.bottomNav {
	height:60px;
	background-color:$marvel-red;
	margin-top:80px;
	border:4px solid lighten($marvel-black,5);

		ul.navMenuBottom {
			margin:0 auto;
			display:block;
			margin-left:356px;
			padding-top:6px;
				
			
			li.navListBottom {
				display:inline-block;
				text-align: center;
				list-style:none;

				a.bottom {
					color: lighten($marvel-black,5);
					font-size:18px;
					text-decoration: none;
					font-family:$nav-font;
					border: 2px solid $marvel-yellow;
					padding:5px;
					margin:0 auto;
					display:block;

					&:hover {
						background-color:$marvel-yellow;
						border:2px solid lighten($marvel-black,5);
						color:$marvel-red;
					}

				}
				
			}

		}
}

